**/xcuserdata/
**/xcshareddata/
LibOVR/Lib/
LibOVR/Obj/
LibOVRKernel/Lib/
LibOVRKernel/Obj/
Samples/OculusWorldDemo/Bin/
Samples/OculusWorldDemo/Obj/
OculusWorldDemo.app/
eegeo-platform/
*.cache
.DS_Store
